<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/global.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="LinkPage">
            <a href="{{ path("HomeRAM") }}">Retourner à l'accueil</a>
            <br>
            <a href="{{ path("AllGames") }}">Voir tous les jeux</a>
            &emsp;
            <a href="{{ path("SearchGames") }}">Rechercher un jeu</a>

            {% if app.user %}
                <p>Vous êtes connecté en tant que : {{ app.user.pseudo }}.</p>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                &emsp;
                <a href="{{ path('Profil') }}">Mon Profil</a>
            {% else %}
                <br>
                <a href="{{ path("app_register") }}">Créer un compte</a>
                &emsp;
                <a href="{{ path("app_login") }}">Se connecter</a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
