{% extends 'base.html.twig' %}

{% block title %}Changer les informations{% endblock %}

{% block body %}

    <h1>Entrer les nouvelles valeurs : </h1>

    {{ form_start(form) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}
        <button type="submit" class="btn"> Valider </button>
    {{ form_end(form) }}
{% endblock %}
