{% extends "base.html.twig" %}

{%  block body %}
    <h1>{{ game.name }}</h1>
    <p>Le créateur est {{ user.pseudo }} .</p>
    <p>Catégorie : {{ game.category }}</p>
    <p>Genre : {{ game.genre }}</p>
    <a href="{{ game.link }}" target="_blank">Télécharger le jeu</a>
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <p>Ajouter un commentaire : </p>
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button type="submit">Publier le commentaire</button>
    {{ form_end(form) }}
    {% endif %}
    <p>Commentaires :</p>
    <ul>
        {% for comment in comments %}
        <li>{{ comment.creator }} : {{ comment.content }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path("HomeRAM") }}">Revenir à l'accueil</a>
{% endblock %}