{% extends "base.html.twig" %}

{%  block body %}
    <h1>Bibliothèque</h1>
    <p>Rechercher</p>
    <form action="{{ path("SearchGames") }}" method="get">
        <label for="nam">Nom : </label>
        <input type="text" name="nam" id="nam">

        <label for="cate">Catégorie : </label>
        <select name="cate" id="cate">
            <option value="">--Choisir une Catégorie--</option>
            <option value="R-18 Games">R-18 Games</option>
            <option value="Familial">Familial</option>
            <option value="Science-Fiction">Science-Fiction</option>
            <option value="Historique">Historique</option>
        </select>

        <label for="gen">Genre : </label>
        <select name="gen" id="gen">
            <option value="">--Choisir un Genre--</option>
            <option value="RPG">RPG</option>
            <option value="FPS">FPS</option>
            <option value="Tower Defense">Tower Defense</option>
            <option value="Jeu de Cartes">Jeu de Cartes</option>
            <option value="Light Novel">Light Novel</option>
        </select>

        <button type="submit"> Rechercher </button>
    </form>
    <p>Vous avez cherché : </p>
    <p>Nom = {{ name }}</p>
    <p>Catégorie = {{ category }}</p>
    <p>Genre = {{ genre }}</p>
    <p>Voilà les résulats de la recherche : </p>
    {% for game in games %}
        <h3>{{ game.name }}</h3>
        <a href="{{ path("OneGame", {id:game.id}) }}">Voir plus.</a>
    {% endfor %}
{% endblock %}